html {
    font-size: 62.5%;
    /* 1 rem = 10px; 10px/16px = 62.5% */
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 2rem;
}
.siteCardGroup {
    position: relative;
}
.cardFrame {
    /* border: 1px solid #aaa; */
    width: 40rem;
    height: 12rem;
    position: absolute;
    top: 7rem;
    background-color: #aaa;
    z-index: -1000;
}
.frameHeader {
    text-align: right;
    color: #f0f0f0;
    padding: 5px 2rem;
    font-size: 1.5rem;
}
.phoneIcon {
    display: block;
    text-indent: -9999px;
    width: 2rem;
    height: auto;
    background-size: 100px 82px;
    margin-right: 1rem;
}
.phoneIcon:hover {
    fill: #303232;
}
.phoneIconText {
    font-size: 1.4rem;
}
.phoneIconText:hover {
    color: #303232;
}

.siteLineConnector {
    border-top: 2px dotted #aaa;
    border-right: 2px dotted #aaa;
    background-color: transparent;
    height: 20rem;
    width: 50%;
    position: absolute;
    top: 13rem;
    z-index: -2000;
}

.siteBio {
    position: relative;
}

.siteBioText {
    /* border-right: 2px dotted #aaa; */
    display: inline-block;
    font-size: 1.4rem;
    padding: 3rem;
    color: #343434;
    line-height: 2rem;
    letter-spacing: 1px;
    font-weight: 200;
    background-color: white;
}

.siteBioTextOne {
    display: inline-block;
    font-size: 1.6rem;
    padding: 4rem 30rem;
    color: #343434;
    line-height: 3.5rem;
    letter-spacing: 1px;
    font-weight: 200;
    background-color: #f9f9f9;
}

.connectorBio {
    position: absolute;
    top: 0;
    width: 50%;
    height: 60%;
    border-right: 2px dotted #aaa;
    border-bottom: 2px dotted #aaa;
    z-index: -1000;
}

.siteEduText {
    font-size: 1.6rem;
    padding: 4rem 30rem;
    color: #343434;
    line-height: 3.5rem;
    letter-spacing: 1px;
    font-weight: 200;
    background-color: #f9f9f9;
}

.siteSkillText {
    font-size: 1.6rem;
    padding: 4rem 30rem;
    color: #343434;
    line-height: 3.5rem;
    letter-spacing: 1px;
    font-weight: 200;
}

.eduItem {
    list-style: none;
    display: inline;
    color: rgb(59, 59, 59);
    background-color: #fff;
    padding: 5px 1rem;
    margin: 1rem 5px;
    border: 2px solid #aaa;
}

.toolItem {
    list-style: none;
    background-color: #fff;
    padding: 5px 1rem;
    margin: 1rem 5px;
    border: 2px solid #aaa;
}

.siteExperience1 {
    position: relative;
}

.timeLine1 {
    border-left: 2px dotted #aaa;
    position: relative;
}

.timeLineCircle {
    position: absolute;
    top: 0;
    left: -8px;
    border: 2px dotted #aaa;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #aaaaaa;
}

.dateLine {
    position: absolute;
    left: 3rem;
    top: -1rem;
}

small {
    position: absolute;
    bottom: -1.5rem;
    left: -9px;
}

.skillContainer {
    position: relative;
}

.skillLine {
    border-top: 2px dotted #aaa;
    height: 1rem;
    width: 100%;
}

.siteSkills {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.skillWrap {
    flex: 1;
    margin: 15px 8px;
    padding: 2rem 3rem;
    border-radius: 6px;
    color: rgb(78, 78, 78);
    /* border: 2px dotted #aaa; */
    background-color: rgba(170, 170, 170, 0.068);
}

.skillHeading {
    margin-bottom: 2.5rem;
    text-decoration: underline;
}

.skillItem {
    font-size: 1.5rem;
    color: rgb(126, 125, 125);
    margin: 1.5rem 0;
}

.secMain {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .siteSkills {
        display: block;
    }
}

/* GLOBAL */
.dBlock {
    display: block;
}

.dFlex {
    display: flex;
}

.rounded {
    border-radius: 4px;
}

.headline {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 1px;
}

.subHeadline {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 1px;
}

.paraText {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 1.2px;
    padding: 0 20% 0 0;
}

.paraPoints {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 1.2px;
    color: #000000;
    padding-bottom: 2.5rem;
}

.textCenter {
    text-align: center;
}

.paddingLeft {
    padding-left: 14rem;
}

.lightGreytext {
    color: #aaa;
}

.boldText {
    font-weight: 700;
}
